body#tinymce.wp-editor iframe,
body#tinymce.wp-editor object,
body#tinymce.wp-editor embed {
    padding: 0;
    max-width: 100%;
}

body#tinymce.wp-editor img {
    padding: 0;
    max-width: 100%;
    height: auto
}

body#tinymce.wp-editor img.alignright {
    padding: 10px 0 0 10px
}

body#tinymce.wp-editor img.alignleft {
    padding: 10px 10px 0 0
}

body#tinymce.wp-editor a {
    text-decoration: underline
}

body#tinymce.wp-editor blockquote {
    border-left: solid 20px #EEE;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.3000em;
    padding: .65em 0 .65em 10px;
    margin: 0 30px 1.3em;
}

body#tinymce.wp-editor blockquote p {
    margin-bottom: 1.3em
}

body#tinymce.wp-editor blockquote p:last-child {
    margin-bottom: 0
}

body#tinymce.wp-editor .wp-caption {
    padding: 4px 4px 0;
    border: solid 1px #EEE;
    background: #f6f6f6;
    margin-bottom: 2.03em;
    text-align: center;
    max-width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

img.wp-smiley {
    margin: 0 5px;
    padding: 0 !important
}

body#tinymce.wp-editor img.size-thumbnail {
    padding: 8px
}

body#tinymce.wp-editor img.size-medium {
    padding: 8px
}

body#tinymce.wp-editor .wp-caption.alignright {
    margin: .3125em 0 .3125em 10px
}

body#tinymce.wp-editor .wp-caption.alignleft {
    margin: .3125em 10px .3125em 0;
}

body#tinymce.wp-editor .wp-caption.aligncenter {
    margin: .3125em auto 2.03em;
}

body#tinymce.wp-editor .wp-caption img {
    padding: 0 !important;
    display: block;
    margin: 0 auto !important;
}

body#tinymce.wp-editor .wp-caption p,
body#tinymce.wp-editor .wp-caption-dd {
    margin: 4px 0 0;
    padding: 0;
    font-size: .8em
}

body#tinymce.wp-editor .wp-caption-text {
}

body#tinymce.wp-editor .wp-caption dl, .wp-caption dt, .wp-caption dd, .wp-caption dt, .wp-caption dd {
    margin: 0;
    padding: 0;
    list-style: none
}

/* List styles*/
body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul {
    margin-bottom: 1.625em
}

body#tinymce.wp-editor ul li,
.comment-content ul li {
    list-style: square;
}

body#tinymce.wp-editor ol li,
.comment-content ol li {
    list-style: decimal;
}

body#tinymce.wp-editor li,
.comment-content li {
    margin-left: 1.625em;
}

body#tinymce.wp-editor ul li ul,
body#tinymce.wp-editor ul li ol,
body#tinymce.wp-editor ol li ul,
body#tinymce.wp-editor ol li ol {
    margin: 0 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold
}

body#tinymce.wp-editor h1 {
    font-size: 2.5000em;
    line-height: 1.3000em;
    margin-bottom: 0.65em
}

body#tinymce.wp-editor h2 {
    font-size: 2.0000em;
    line-height: 1.6250em;
    margin-bottom: 0.8125em
}

body#tinymce.wp-editor h3 {
    font-size: 1.5000em;
    line-height: 1.0833em;
    margin-bottom: 1.0833em
}

body#tinymce.wp-editor h4 {
    font-size: 1.2500em;
    line-height: 1.3000em;
    margin-bottom: 1.3000em
}

body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
    font-size: 1.0000em;
    line-height: 1.6250em;
    margin-bottom: 1.6250em;
}

body#tinymce.wp-editor address {
    font: 1.2500em/1.3000em "Courier new";
    margin-bottom: 1.3em;
}
body#tinymce.wp-editor strong,
body#tinymce.wp-editor b{font-weight: bold}
body#tinymce.wp-editor em,
body#tinymce.wp-editor i{font-style: italic}

body#tinymce.wp-editor .clear {
clear:both;
}
body#tinymce.wp-editor {
        width: 686px;padding:0 10px;
        border-right:dashed 1px #CCC;font:300 14px/1.625em 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#575757;word-wrap:break-word;background:#FFF;
-webkit-font-smoothing: subpixel-antialiased;
-webkit-text-stroke: 0.15px}body#tinymce.wp-editor {color:rgb(36, 69, 76);background:rgb(222, 242, 243);}body#tinymce.wp-editor a{color:rgb(88, 155, 164);}body#tinymce.wp-editor blockquote{border-color:rgb(16, 147, 167);}body#tinymce.wp-editor .wp-caption{border-color:rgb(182, 231, 236);background:rgb(202, 232, 235);}